*.rbc
*.sassc
**.orig
.sass-cache
.rspec
capybara-*.html
pickle-email-*.html
rerun.txt
/.bundle
/config/database.yml
/coverage/
/db/*.sqlite3
/kitchen/data_bags/users/*.json
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
