{
  "name": "data_bag_item_users_ubuntu",
  "json_class": "Chef::DataBagItem",
  "chef_type": "data_bag_item",
  "data_bag": "users",
  "raw_data": {
    "comment": "ubuntu",
    "groups": [
      "adm",
      "cdrom",
      "sudo",
      "dip",
      "plugdev",
      "lpadmin",
      "sambashare",
      "sysadmin",
      "rvm"
    ],
    "nagios": {
      "pager": "1234567890@txt.att.net",
      "email": "jgrevich@gmail.com"
    },
    "ssh_keys": [],
    "uid": 1000,
    "id": "ubuntu",
    "shell": "/bin/bash",
    "openid": "jgrevich.myopenid.com"
  }
}
