
.usa-grid-no-breakpoints {
  .usa-width-one-half {
    display: block;
    float: left;
    margin-right: 0;
    width: 47.5854205965%;

    &:nth-of-type(2) {
      float: right;
    }
  }
}

.page-title {margin-top: 0;}

.usa-alert {
  background-position: 1rem 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0;

  &.usa-alert-success {
    border: 1px solid $color-green-light;
    border-left-width: 16px;
  }
}

.usa-header {
  background: $color-primary-darkest;

  .usa-logo {
    float: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  @media screen and (min-width: $medium-screen) {
    .usa-logo {
      float: none;
      margin-bottom: 3rem;
      margin-left: 3rem;
      margin-top: 3rem;
    }
  }
  @media screen and (min-width: $nav-width) {
    .usa-logo {
      margin-left: 0;
    }
  }

  .usa-navbar {
    height: auto;
  }

  .usa-logo-text {
    font-family: $font-serif;
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: .5rem;

    a {
      color: $color-white;
    }
  }

  .usa-logo-text-subtitle {
    color: $color-primary-alt;
    font-family: $font-sans;
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0;
  }
}

.lead {
  font-family: $font-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-top: 0;
}

.section-instruction,
footer {
  background: $color-gray-warm-light;
}

.message {
  background: $color-gray-lightest;
  font-family: inherit;
  padding: 1.5rem;
}

.input-small {
  max-width: 6rem;
}

.usa-section {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.input-margin-top {
  margin-top: 1.5rem;
}

.input-margin-bottom {
  margin-bottom: 1.5rem;
}

.no-top-margin {
  margin-top: 0;
}

.section-expire {
  padding-bottom: 1.5rem;

  .usa-width-one-third {
    float: left;
    margin: 0;
    width: auto;

    p {
      font-weight: 700;
      line-height: inherit;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 5rem;
    }

    input {
      max-width: 8rem;
    }

    label {
      margin-top: 1.5rem;
    }
  }
}

.label-strong {
  font-weight: bold;
  margin-bottom: 1rem;
}

.top-footer {
  background: $color-gray-lightest;

  .footer-logo {
    margin-right: 1rem;
    max-width: 50px;
  }
}

.footer-link-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
