.usa-header {
  background: $color-primary-darkest;

  .usa-logo {
    float: none;
  }

  .usa-navbar {
    height: auto;
  }

  .usa-logo-text {
    font-family: 'Merriweather', 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: .5rem;

    a {
      color: $color-white;
    }
  }

  .usa-logo-text-subtitle {
    color: $color-primary-alt;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 0;
  }
}

.lead {
  font-family: 'Merriweather', 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.message,
.section-instruction,
footer {
  background: $color-gray-warm-light;
}

.input-small {
  max-width: 6rem;
}

.usa-section {
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.input-margin-top {
  margin-top: 1.5rem;
}

.input-margin-bottom {
  margin-bottom: 1.5rem;
}

.no-top-margin {
  margin-top: 0;
}

.section-expire {
  padding-bottom: 3rem;
  padding-top: 3rem;

  .usa-width-one-third {
    width: auto;
    }
}

.label-strong {
  font-weight: bold;
  margin-bottom: 1rem;
}

.top-footer {
  background: $color-gray-lightest;
}

.message {
  font-family: inherit;
  padding: 1.5rem;
}
