.usa-header {
  background: #112e51;

  .usa-logo {
    float: none;
  }

  .usa-navbar {
    height: auto;
  }

  .usa-logo-text {
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: .5rem;

    a {
      color: #fff;
    }
  }

  .usa-logo-text-subtitle {
    color: #02bfe7;
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 0;
  }
}

.lead {
  font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
  font-size: 2.5rem;
  font-weight: 400;
}

.message,
.section-instruction,
footer {
  background: #e4e2e0;
}

.input-small {
  max-width: 6rem;
}

.usa-section {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.input-margin-top {
  margin-top: 1.5rem;
}

.input-margin-bottom {
  margin-bottom: 1.5rem;
}

.no-top-margin {
  margin-top: 0;
}

.section-expire {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.label-strong {
  font-weight: bold;
  margin-bottom: 1rem;
}

.top-footer {
  background: #f1f1f1;
}

.message {
  padding: 1.5rem;
  font-family: inherit;
}

.section-expire {
  .usa-width-one-third {
    width: auto;
  }
}
