/*
*= require_self
*= require_tree .
*/
body { 	background-color:#000; font-family:"Merriweather", Verdana, Helvetica, Arial; font-size:14px; 
	a, a:hover { color:#8396AF; cursor:hand; text-decoration:none; }
	a img { border: none; }
	.clear { clear: both; height: 0; overflow: hidden; }
	h1,h2,h3,h4,h5,h6 { font-family:Merriweather; }
	h2 { color:#8396AF; font-size:1.5em; font-weight:normal; 
		a, a:hover { color:#8396AF; }}
	ul { list-style-type:none;
		li {}}
	p { font-family:"Merriweather", Verdana, Helvetica, Arial; line-height:1.4; }
	#ocean { min-width:460px; position:relative; z-index:1;
		background:inherit;

	
		-webkit-transition: background 420ms ease-in 2s; 
		-moz-transition: background 420ms ease-in 2s;
		-o-transition: background 420ms ease-in 2s;
		transition: background 420ms ease-in 2s;

		-webkit-transition-property: background;
		-webkit-transition-duration: 420ms;
		-webkit-transition-timing-function: ease-in;
		-webkit-transition-delay: 100ms;

		-moz-transition-property: background;
		-moz-transition-duration: 420ms;
		-moz-transition-timing-function: ease-in;
		-moz-transition-delay: 100ms;

		-o-transition-property: background;
		-o-transition-duration: 420ms;
		-o-transition-timing-function: ease-in;
		-o-transition-delay: 100ms;

		transition-property: background;
		transition-duration: 420ms;
		transition-timing-function: ease-in;
		transition-delay: 100ms;
		
		.kelp { position:absolute; z-index:2; }
		#kelp1 { bottom:-22px; right:-7%; z-index:9; }
		#kelp2a { bottom:-8px; left:-11%; z-index:9; }
		#kelp2b { bottom:-42px; left:20%; z-index:9; }
		#kelp2c { bottom:-42px; right:33%; z-index:9; }
		#kelp2d { bottom:-32px; right:28%; width:48px; z-index:9; }
		#kelp2e { bottom:-22px; opacity:0.7; right:19%; width:60px; z-index:9; }
		#kelp3 { bottom:-22px; left:3%; opacity:0.5; z-index:2; }
		#kelp4 { bottom:-40px; left:-11%; z-index:2; }
		#kelp5 { bottom:-22px; left:40%; opacity:0.2; z-index:2; }
		#kelp6 { bottom:-88px; right:9%; opacity:0.2; z-index:1; }

		#fugu1 { left:-9%; top:18%; width:30px; z-index:2;
	        -moz-transform: scaleX(-1);
	        -o-transform: scaleX(-1);
	        -webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
	        filter: FlipH;
	        -ms-filter: "FlipH";
		}
		#fugu2 { left:13%; opacity:0.8; top:48%; z-index:5; 
			transform: rotate(23deg);
			-ms-transform: rotate(23deg); 
			-webkit-transform: rotate(23deg); 
			-o-transform: rotate(23deg); 
			-moz-transform: rotate(23deg);
		
		}
		#fugu3 { left:24%; opacity:0.6; top:93%; z-index:3; }
		#fugu4 { right:16%; top:49%; width:28px; z-index:5; }
		#fugu5 { right:-8%;  top:70%; z-index:3; 
	        -moz-transform: scaleX(-1);
	        -o-transform: scaleX(-1);
	        -webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
	        filter: FlipH;
	        -ms-filter: "FlipH";
		}


		.container { padding:96px 0 34px; position:relative; }
	}
	#fugus, #large_kelp, #small_kelp {}
	
	header#header { margin:0 0 0 48px; min-width:480px; position:relative; text-align:center; z-index:10;
		#logo { display:block; min-width:480px; }
		h1 { color:#fff; font-family:'Parisienne', cursive; font-size:7em; font-weight:normal; margin:-36px 0 0 0;
			a { color:#fff; }
		}
		h2 { margin:-30px 0 0 -72px; min-width:480px;}
	}
	
	h3 { font-weight:normal; margin:0 0 13px; }

	form { margin:48px 0 0px; position:relative; z-index:10;
		input,textarea { font-size:1.4em; }
		input[type="submit"] { background-color:#8396AF; border:0; color:#fff; float:right; padding:2% 4%; }
		input[type='text'] { margin:0 2px; padding:2% 4%; text-align:center; width:34px; }
		textarea { height:1em; padding:2% 4%; width:92%; }
		p { float:left; line-height:1.5; margin:0 0 10px; padding:0; }}

	#info_panel { background-color:#29293A; margin:0 auto; padding:20px;  position:relative; z-index:10;
		nav { margin:0 auto; padding:0 0 34px; text-align:center; width:500px;
			ul.nav-tabs, ul.nav { border:0; margin:0;
				li { float:left; font-size:1.7em; font-weight:400; margin:0 13px; 
					a { border:0; color:#8396AF; }
					a:hover { color:#fff;} }
				li.active {
					a { color:#fff;}}}}
		p { clear:both; font-size:1.3em; line-height:1.4; margin:0 0 1.4em; }}
	footer { padding:34px 0; margin:0 0 auto;
		p { color:#8396AF; text-align:center; }
	}

	#flash_notice, #flash_error, #flash_alert { padding: 5px 8px; margin: 10px 0; }
	#flash_notice { background-color: #CFC; border: solid 1px #6C6; }
	#flash_error, #flash_alert { background-color: #FCC; border: solid 1px #C66; }
	.fieldWithErrors { display:inline; }

	.error_messages { width: 400px; border: 2px solid #CF0000; padding: 0px; padding-bottom: 12px; margin-bottom: 20px; font-size: 12px; }
	.error_messages h2 { text-align: left; font-weight: bold; padding: 5px 10px; font-size: 12px; margin: 0; background-color: #c00; color: #fff; }
	.error_messages p { margin: 8px 10px; }
	.error_messages ul { margin: 0; }

	.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
	.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
	.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
	.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
	.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
	.error a, .alert a {color:#8a1f11;}
	.notice a {color:#514721;}
	.success a {color:#264409;}
	.info a {color:#205791;}

	.message { border:1px solid #ccc; border-radius:3px; margin:0; padding:1em 2em 0.8em;
		 p { line-height:1; margin:0; }}


}


body:hover {
	#ocean { 
		
		
		
		
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten(#36364D, 15%)), to(#36364D));
		background: -webkit-linear-gradient(top, lighten(#36364D, 15%), #36364D);
	    background: -moz-linear-gradient(top, lighten(#36364D, 15%), #36364D);
	    background: -ms-linear-gradient(top, lighten(#36364D, 15%), #36364D);
		background: -o-linear-gradient(top, lighten(#36364D, 15%), #36364D);

		
		
		-webkit-transition: background 420ms ease-in 2s; 
		-moz-transition: background 420ms ease-in 2s;
		-o-transition: background 420ms ease-in 2s;
		transition: background 420ms ease-in 2s;

		-webkit-transition-property: background;
		-webkit-transition-duration: 420ms;
		-webkit-transition-timing-function: ease-in;
		-webkit-transition-delay: 100ms;

		-moz-transition-property: background;
		-moz-transition-duration: 420ms;
		-moz-transition-timing-function: ease-in;
		-moz-transition-delay: 100ms;

		-o-transition-property: background;
		-o-transition-duration: 420ms;
		-o-transition-timing-function: ease-in;
		-o-transition-delay: 100ms;

		transition-property: background;
		transition-duration: 420ms;
		transition-timing-function: ease-in;
		transition-delay: 100ms;
		
		
		}}
/* rest of file omitted */
