body { 	background-color:darken(#36364D, 5%); color:#fff; line-height:1.5; font-family:"Merriweather", Verdana, Helvetica, Arial; 

	-webkit-transition: background-color 200ms ease-in 2s; 
	-moz-transition: background-color 200ms ease-in 2s;
	-o-transition: background-color 200ms ease-in 2s;
	transition: background-color 200ms ease-in 2s;

	-webkit-transition-property: background-color;
	-webkit-transition-duration: 200ms;
	-webkit-transition-timing-function: ease-in;
	-webkit-transition-delay: 0;

	-moz-transition-property: background-color;
	-moz-transition-duration: 200ms;
	-moz-transition-timing-function: ease-in;
	-moz-transition-delay: 0;

	-o-transition-property: background-color;
	-o-transition-duration: 200ms;
	-o-transition-timing-function: ease-in;
	-o-transition-delay: 0;

	transition-property: background-color;
	transition-duration: 200ms;
	transition-timing-function: ease-in;
	transition-delay: 0;

	a, a:hover { color:#8396AF; cursor:hand; text-decoration:none; }
	a img { border: none; }
	.clear { clear: both; height: 0; overflow: hidden; }
	h1,h2,h3,h4,h5,h6 { font-family:Merriweather; line-height: 1.5; }
	
	h2 { color:#8396AF; font-size:1.33em; font-weight:normal; 
		a, a:hover { color:#8396AF; }}
	ul { list-style-type:none;
		li {}}
	p { font-family:"Merriweather", Verdana, Helvetica, Arial; line-height:1.4; }
	
	#ocean { position:relative; z-index:1; overflow:hidden; background:inherit; padding:6.66em 0;

	
		-webkit-transition: background 420ms ease-in 2s; 
		-moz-transition: background 420ms ease-in 2s;
		-o-transition: background 420ms ease-in 2s;
		transition: background 420ms ease-in 2s;

		-webkit-transition-property: background;
		-webkit-transition-duration: 420ms;
		-webkit-transition-timing-function: ease-in;
		-webkit-transition-delay: 100ms;

		-moz-transition-property: background;
		-moz-transition-duration: 420ms;
		-moz-transition-timing-function: ease-in;
		-moz-transition-delay: 100ms;

		-o-transition-property: background;
		-o-transition-duration: 420ms;
		-o-transition-timing-function: ease-in;
		-o-transition-delay: 100ms;

		transition-property: background;
		transition-duration: 420ms;
		transition-timing-function: ease-in;
		transition-delay: 100ms;
		
		#github { position: absolute; top: 0; right: 0; border: 0; z-index:100; }
		.kelp { position:absolute; z-index:2; }
		#kelp1 { bottom:-22px; right:-7%; z-index:9; }
		#kelp2a { bottom:-8px; left:-11%; z-index:9; }
		#kelp2b { bottom:-42px; left:20%; z-index:9; }
		#kelp2c { bottom:-42px; right:33%; z-index:9; }
		#kelp2d { bottom:-32px; right:28%; width:48px; z-index:9; }
		#kelp2e { bottom:-22px; opacity:0.7; right:19%; width:60px; z-index:9; }
		#kelp3 { bottom:-22px; left:3%; opacity:0.5; z-index:2; }
		#kelp4 { bottom:-40px; left:-11%; z-index:2; }
		#kelp5 { bottom:-22px; left:40%; opacity:0.2; z-index:2; }
		#kelp6 { bottom:-88px; right:9%; opacity:0.2; z-index:1; }

		#fugu1 { left:-9%; top:18%; width:30px; z-index:2;
	        -moz-transform: scaleX(-1);
	        -o-transform: scaleX(-1);
	        -webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
	        filter: FlipH;
	        -ms-filter: "FlipH";
		}
		#fugu2 { left:13%; opacity:0.8; top:48%; z-index:5; 
			transform: rotate(23deg);
			-ms-transform: rotate(23deg); 
			-webkit-transform: rotate(23deg); 
			-o-transform: rotate(23deg); 
			-moz-transform: rotate(23deg);
		
		}
		#fugu3 { left:24%; opacity:0.6; top:93%; z-index:3; }
		#fugu4 { right:16%; top:49%; width:28px; z-index:5; }
		#fugu5 { right:-8%;  top:70%; z-index:3; 
	        -moz-transform: scaleX(-1);
	        -o-transform: scaleX(-1);
	        -webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
	        filter: FlipH;
	        -ms-filter: "FlipH";
		}

	}
	
	
	
	#fugus, #large_kelp, #small_kelp {}
	
	header#header { margin:-6.66em 0 0; padding:0.4em 0.4em 0; position:relative; text-align:center; z-index:10;
		#logo {  }
		h1 { color:#fff; font-family:'Parisienne', cursive; font-size:6.66em; font-weight:normal; margin:-42px auto 0; width:330px;
			a { color:#fff; }
		}
		h2 { margin:-30px auto 0; padding-left:10px; width:320px; }
	}
	
	h3 { font-weight:normal; margin:0 0 13px; }

	form { margin:48px 0 0px; position:relative; z-index:10;
		.form-control { font-size:1.4em; 
			input,textarea { color:#000; font-size:1.6em; }
		}
		input[type="submit"] { background-color:#8396AF; border:1px solid #666; border-radius:4px; color:#fff; float:right; font-size:1.4em; padding:0.4em 1em; }
		label { font-size:1.6em; font-weight:normal; }
		textarea { line-height:1; }
		.options {
			.form-group { 
				input[type='text'] { display:inline; margin:0 10px;  text-align:center; width:3.3em; }
				label { font-size:1em; font-weight:normal; }
			}
		}		
		}

	#info_panel { background-color:#29293A; margin:0 auto; padding:20px;  position:relative; z-index:10;
	  .nav-pills > .active > a, .nav-pills > .active > a:hover {
      color: white;
      background-color:inherit;
    }
		nav { margin:0 auto; padding:0 0 34px; 
			ul.nav-pills, ul.nav { border:0; font-size: 1.33em; margin:0;
				li { margin-right:0.66em;
					a { color:#8396AF; line-height:1; }
					a:hover { color:#fff; } }
				li.active { 
					a { background-color:#36364D; color:#fff;}
					a:hover { background-color:#36364D;}}}}
		p { clear:both; font-size:1.13em; line-height:1.4; margin:0 0 1.4em; }
		
		.nav > li > a:hover {background-color:#36364D; border:0; border-radius:2px; }
    .nav-tabs > .active > a, .nav-tabs > .active > a:hover {background-color:#36364D; border-radius:2px; color:#fff;}

    .nav-tabs > li > a, .nav-pills > li > a { padding:12px 18px; margin-right:2px; }
		
		}
	
	footer { padding:0.66em 0 3.4em 0; margin:0 0 auto;
		dl { color:#8396AF; text-align:center; }
	}

	#flash_notice, #flash_error, #flash_alert { padding: 5px 8px; margin: 10px 0; }
	#flash_notice { background-color: #CFC; border: solid 1px #6C6; }
	#flash_error, #flash_alert { background-color: #FCC; border: solid 1px #C66; }
	.fieldWithErrors { display:inline; }

	.error_messages { background-color:#fbe3e4; border-radius: 3px; margin:0 0 33px; padding: 0px; }
	.error_messages h2 { color:#aa0000; font-size: 1.8em; font-weight:bold; margin: 0; padding: 5px 10px 0;  }
	.error_messages p { color:#29293A; margin:0; padding: 0 10px 8px; }
	.error_messages ul { color:#29293A; list-style-type:disc; margin:0; padding: 8px 10px 8px 30px; }

	.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
	.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
	.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
	.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
	.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
	.error a, .alert a {color:#8a1f11;}
	.notice a {color:#514721;}
	.success a {color:#264409;}
	.info a {color:#205791;}

	#message { margin:48px 0 0; position:relative; z-index:10;
		.message { background-color:#fff; border:1px solid #ccc; border-radius:3px; color:#000; font-size:1.4em; margin:0 0 12px; padding:1%; white-space: pre;
			 p { background-color:#CFC; float:none; line-height:1; margin:0; }
			 ul { background-color:#CFC; }}}


}


body:hover {
	#ocean { 
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten(#36364D, 15%)), to(#36364D));
		background: -webkit-linear-gradient(top, lighten(#36364D, 15%), #36364D);
	    background: -moz-linear-gradient(top, lighten(#36364D, 15%), #36364D);
	    background: -ms-linear-gradient(top, lighten(#36364D, 15%), #36364D);
		background: -o-linear-gradient(top, lighten(#36364D, 15%), #36364D);

		
		
		-webkit-transition: background 420ms ease-in 2s; 
		-moz-transition: background 420ms ease-in 2s;
		-o-transition: background 420ms ease-in 2s;
		transition: background 420ms ease-in 2s;

		-webkit-transition-property: background;
		-webkit-transition-duration: 420ms;
		-webkit-transition-timing-function: ease-in;
		-webkit-transition-delay: 100ms;

		-moz-transition-property: background;
		-moz-transition-duration: 420ms;
		-moz-transition-timing-function: ease-in;
		-moz-transition-delay: 100ms;

		-o-transition-property: background;
		-o-transition-duration: 420ms;
		-o-transition-timing-function: ease-in;
		-o-transition-delay: 100ms;

		transition-property: background;
		transition-duration: 420ms;
		transition-timing-function: ease-in;
		transition-delay: 100ms;
		}
		
		.formp {display:block;
		
			-webkit-transition: display 420ms ease-in 2s; 
			-moz-transition: display 420ms ease-in 2s;
			-o-transition: display 420ms ease-in 2s;
			transition: display 420ms ease-in 2s;

			-webkit-transition-property: display;
			-webkit-transition-duration: 420ms;
			-webkit-transition-timing-function: ease-in;
			-webkit-transition-delay: 100ms;

			-moz-transition-property: display;
			-moz-transition-duration: 420ms;
			-moz-transition-timing-function: ease-in;
			-moz-transition-delay: 100ms;

			-o-transition-property: display;
			-o-transition-duration: 420ms;
			-o-transition-timing-function: ease-in;
			-o-transition-delay: 100ms;

			transition-property: display;
			transition-duration: 420ms;
			transition-timing-function: ease-in;
			transition-delay: 100ms;
		
		}
		input[type="submit"] {display:inline;
			-webkit-transition: display 420ms ease-in 2s; 
			-moz-transition: display 420ms ease-in 2s;
			-o-transition: display 420ms ease-in 2s;
			transition: display 420ms ease-in 2s;

			-webkit-transition-property: display;
			-webkit-transition-duration: 420ms;
			-webkit-transition-timing-function: ease-in;
			-webkit-transition-delay: 100ms;

			-moz-transition-property: display;
			-moz-transition-duration: 420ms;
			-moz-transition-timing-function: ease-in;
			-moz-transition-delay: 100ms;

			-o-transition-property: display;
			-o-transition-duration: 420ms;
			-o-transition-timing-function: ease-in;
			-o-transition-delay: 100ms;

			transition-property: display;
			transition-duration: 420ms;
			transition-timing-function: ease-in;
			transition-delay: 100ms;
		}
		
	}
	
  body:hover { background-color:#36364D;

  	-webkit-transition: background-color 200ms ease-in 2s; 
  	-moz-transition: background-color 200ms ease-in 2s;
  	-o-transition: background-color 200ms ease-in 2s;
  	transition: background-color 200ms ease-in 2s;

  	-webkit-transition-property: background-color;
  	-webkit-transition-duration: 200ms;
  	-webkit-transition-timing-function: ease-in;
  	-webkit-transition-delay: 0;

  	-moz-transition-property: background-color;
  	-moz-transition-duration: 200ms;
  	-moz-transition-timing-function: ease-in;
  	-moz-transition-delay: 0;

  	-o-transition-property: background-color;
  	-o-transition-duration: 200ms;
  	-o-transition-timing-function: ease-in;
  	-o-transition-delay: 0;

  	transition-property: background-color;
  	transition-duration: 200ms;
  	transition-timing-function: ease-in;
  	transition-delay: 0;
  }



  /* Phones and down */
  @media only screen and (max-width:480px) and (max-height:480px) { 
    body {
    	
      #info_panel {
  		  nav { width:auto; 
  		    ul {
  		      li { clear:both; }
  		    }}
  		}
    }
  }

  /* phones and down (landscape) */
  @media only screen and (max-width:480px) and (max-height:480px) and (orientation:landscape) { 
      body {

      }
  }


  @media all and (max-width: 767px) {

  	body { padding-left:0; padding-right:0; 
  		form input[type="submit"] { margin-top:20px; }
  		#info_panel {
  		  nav { width:100%; }
  		}
  	}

  }
