<% title 'Plain English Privacy Policy' %>
<p>We do not store personal identifiable information or set cookies containing such info. Once your secret has expired we purge it from our database and keep no archives.</p>
<p>We do not use analytics and do not retain your IP address or any other information that can be tracked back to you.</p>
<p>We do not guarantee the security of your information, and, when it comes to transmitting secure information, you should never put all of your eggs in one basket. We recommend that you send part of your secure information through another form, such as email, SMS, telephone, smoke signals, or carrier pigeon.</p>
<small><%= link_to "New Message", new_message_path %> | </small>